openapi: 3.0.0

info:
  version: '1.0'
  title: 'EatZy Booking Web API'
  description: >-
    Web Resources Specification (A7) for EatZy Booking.
    Includes Web UI Routes (HTTP 302 Redirects) and REST API Routes (JSON).

servers:
  - url: http://lbaw25145.lbaw.fe.up.pt
    description: Production server

externalDocs:
  description: Project Wiki
  url: https://git.fe.up.pt/lbaw/lbaw2425/lbaw25145/-/wikis/home

tags:
  - name: 'M01: Authentication'
  - name: 'M02: Restaurants'
  - name: 'M03: Reservations'
  - name: 'M04: Reviews'
  - name: 'M05: Notifications'
  - name: 'M06: Administration'

paths:
  # ============================================================
  # M01: Authentication & Individual Profile
  # ============================================================
  /login:
    get:
      operationId: R101
      summary: 'R101: Login Form'
      description: 'Provide login form. Access: VIS'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show login UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: VIS'
      tags:
        - 'M01: Authentication'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
              required:
                - email
                - password
      responses:
        '302':
          description: 'Redirect after processing login.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  value: '/restaurants'
                302Error:
                  value: '/login'

  /logout:
    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: USR'
      tags:
        - 'M01: Authentication'
      responses:
        '302':
          description: 'Redirect to login form.'
          headers:
            Location:
              schema:
                type: string
                example: '/login'

  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: VIS'
      tags:
        - 'M01: Authentication'
      responses:
        '200':
          description: 'Ok. Show sign-up UI'
    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Processes registration form. Access: VIS'
      tags:
        - 'M01: Authentication'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                surname:
                  type: string
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
                password_confirmation:
                  type: string
                role:
                  type: string
                  enum: ['customer', 'owner']
              required:
                - email
                - password
                - username
                - role
      responses:
        '302':
          description: 'Redirect to home page after registration.'

  /users/{id}:
    get:
      operationId: R106
      summary: 'R106: View user profile'
      description: 'Show individual user profile. Access: USR'
      tags:
        - 'M01: Authentication'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show view profile UI'

  /users/{id}/edit:
    post:
      operationId: R107
      summary: 'R107: Update Profile Action'
      description: 'Update user info. Access: OWN'
      tags:
        - 'M01: Authentication'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                surname:
                  type: string
                profile_description:
                  type: string
                profile_picture:
                  type: string
                  format: binary
      responses:
        '302':
          description: 'Redirect to profile view.'

  /users/{id}/delete:
    post:
      operationId: R109
      summary: 'R109: Delete Account'
      description: 'Delete account (Hard Delete with Anonymization). Access: OWN'
      tags:
        - 'M01: Authentication'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect to homepage.'

  # ============================================================
  # M02: Restaurants
  # ============================================================
  /restaurants:
    get:
      operationId: R201
      summary: 'R201: Browse Restaurants'
      description: 'List restaurants with search filters. Access: VIS'
      tags:
        - 'M02: Restaurants'
      parameters:
        - in: query
          name: search
          description: Full text search
          schema:
            type: string
        - in: query
          name: capacity
          schema:
            type: integer
      responses:
        '200':
          description: 'Ok. Show list UI.'

  /restaurants/create:
    get:
      operationId: R203
      summary: 'R203: Create Restaurant Form'
      description: 'Show form to create restaurant. Access: OWN'
      tags:
        - 'M02: Restaurants'
      responses:
        '200':
          description: 'Ok. Show create UI.'
    post:
      operationId: R204
      summary: 'R204: Create Restaurant Action'
      description: 'Creates a new restaurant entity. Access: OWN'
      tags:
        - 'M02: Restaurants'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                address:
                  type: string
                opening_hours:
                  type: string
                capacity:
                  type: integer
                photos:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        '302':
          description: 'Redirect to restaurant page.'

  /restaurants/{id}:
    get:
      operationId: R202
      summary: 'R202: View Restaurant Details'
      description: 'Show details, menu, photos and reviews. Access: VIS'
      tags:
        - 'M02: Restaurants'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show details UI.'

  # ============================================================
  # M03: Reservations
  # ============================================================
  /restaurants/{id}/reserve:
    get:
      operationId: R302
      summary: 'R302: Reservation Form'
      description: 'Show booking form. Access: CUS'
      tags:
        - 'M03: Reservations'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show booking UI.'
    post:
      operationId: R303
      summary: 'R303: Make Reservation Action'
      description: 'Attempts to create reservation. Access: CUS'
      tags:
        - 'M03: Reservations'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                date_of_visit:
                  type: string
                  format: date
                time_of_visit:
                  type: string
                  format: time
                number_of_people:
                  type: integer
      responses:
        '302':
          description: 'Success: Redirect to reservations list.'

  /reservations:
    get:
      operationId: R301
      summary: 'R301: List My Reservations'
      description: 'View history of reservations. Access: CUS'
      tags:
        - 'M03: Reservations'
      responses:
        '200':
          description: 'Ok. Show history UI.'

  # ============================================================
  # M04: Reviews
  # ============================================================
  /restaurants/{id}/reviews:
    post:
      operationId: R402
      summary: 'R402: Post Review Action'
      description: 'Submit review. Access: CUS'
      tags:
        - 'M04: Reviews'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                content:
                  type: string
      responses:
        '302':
          description: 'Redirect to restaurant page.'

  # ============================================================
  # M05: Notifications & Offers
  # ============================================================
  /notifications:
    get:
      operationId: R501
      summary: 'R501: Notifications Center'
      description: 'View unread notifications. Access: USR'
      tags:
        - 'M05: Notifications'
      responses:
        '200':
          description: 'Ok. Show list.'

  /restaurants/{id}/offers:
    post:
      operationId: R506
      summary: 'R506: Create Offer Action'
      description: 'Owner creates a promotional offer. Access: OWN'
      tags:
        - 'M05: Notifications'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                start_date:
                  type: string
                  format: date
                end_date:
                  type: string
                  format: date
      responses:
        '302':
          description: 'Redirect to restaurant dashboard.'

  # ============================================================
  # M06: Administration
  # ============================================================
  /admin:
    get:
      operationId: R601
      summary: 'R601: Admin Dashboard'
      description: 'View admin statistics and links. Access: ADM'
      tags:
        - 'M06: Administration'
      responses:
        '200':
          description: 'Ok. Show dashboard UI.'

  /admin/users:
    get:
      operationId: R602
      summary: 'R602: List Users'
      description: 'Browse and search all users. Access: ADM'
      tags:
        - 'M06: Administration'
      parameters:
        - in: query
          name: search
          schema:
            type: string
        - in: query
          name: role
          schema:
            type: string
            enum: ['customer', 'owner', 'admin']
      responses:
        '200':
          description: 'Ok. Show user list UI.'

  /admin/users/{id}:
    delete:
      operationId: R603
      summary: 'R603: Delete User (Admin)'
      description: 'Admin action to delete a user account. Access: ADM'
      tags:
        - 'M06: Administration'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '302':
          description: 'Redirect to user list with success message.'

  # ============================================================
  # API ROUTES (RESTful JSON)
  # ============================================================

  /api/restaurants:
    get:
      operationId: API_R211
      summary: 'Search Restaurants API'
      description: 'Returns JSON array of restaurants. Access: PUB'
      tags:
        - 'M02: Restaurants'
      parameters:
        - in: query
          name: query
          description: Full text search string
          schema:
            type: string
        - in: query
          name: capacity
          description: Filter by minimum capacity
          schema:
            type: integer
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    rating:
                      type: number

  /api/reservations/{id}:
    put:
      operationId: API_R306
      summary: 'Update Reservation API'
      description: 'Modify reservation details via API. Access: CUS'
      tags:
        - 'M03: Reservations'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                number_of_people:
                  type: integer
                time_of_visit:
                  type: string
                  format: time
      responses:
        '200':
          description: 'Reservation updated'
        '403':
          description: 'Forbidden'
    
    delete:
      operationId: API_R314
      summary: 'Cancel Reservation API'
      description: 'Cancels reservation via API. Access: CUS'
      tags:
        - 'M03: Reservations'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '204':
          description: 'No Content. Reservation cancelled.'

  /api/reviews/{id}:
    delete:
      operationId: API_R406
      summary: 'Delete Review API'
      description: 'Delete a review via API. Access: ADM or Review Owner'
      tags:
        - 'M04: Reviews'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Review deleted'

  /api/photos/{id}:
    delete:
      operationId: API_R213
      summary: 'Delete Photo API'
      description: 'Remove photo from gallery via API. Access: OWN'
      tags:
        - 'M02: Restaurants'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '204':
          description: 'Photo deleted successfully.'

  /api/admin/users/{id}/block:
    put:
      operationId: API_R603
      summary: 'Block User API'
      description: 'Toggle block status via API. Access: ADM'
      tags:
        - 'M06: Administration'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                is_blocked:
                  type: boolean
      responses:
        '200':
          description: 'User status updated'